body{
    background-color: darkgoldenrod;
}
.center{
    background-color: lightblue;
    height: 200px;
    width: 500px;
    margin:  auto;
    margin-top: 53px;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 2px 1px 7px 2px rgb(42, 28, 28) ;
}
button{
    background-color: rgb(10, 118, 10);
    border: none;
    height: 33px;
    width: 8rem;
    color: white;
    margin-top: 12px;
    border-radius: 12px;
}
button:hover{
    background-color: white;
    color: rgb(6, 51, 6);
    cursor: pointer;
}
@media screen and (max-width:786px) {
    .center{
        height: 400px;
        width: 220px;
        text-align: center;
    }
}